#article-container {
	overflow: hidden;
}

#article-container img {
	
}

#article-container h1 {
	font-size: 28px;
}
#article-container h2 {
	font-size: 26px;
}
#article-container h3 {
	font-size: 24px;
}
#article-container h4 {
	font-size: 22px;
}
#article-container h5 {
	font-size: 20px;
}
#article-container h6 {
	font-size: 18px;
}